<!-- 学习中心 -->
	<div class="learn_center">
    <div class="container_wrap">
        <ul class="course_tool_bar clearfix">
          <li class="<%= is_all_course? %>"><a href="/dashboard">全部课程</a></li>
          <li class="<%= is_active?('basic') %>"><a href="/dashboard?category=basic">开学前必做</a></li>
          <li class="<%= is_active?('major') %>"><a href="/dashboard?category=major">主修课程</a></li>
          <li class="<%= is_active?('optional') %>"><a href="/dashboard?category=optional">选修课程</a></li>
        </ul>
    </div>
		<ul class="container_wrap">
      <% @courses.each do |course| %>
        <% if !course.is_locked %>
    			<li class="course_card">
    				<%= link_to course_syllabus_path(course) do%>
    					<div class="img_box">
    						<%= image_tag(course.course_img.thumb.url) unless course.course_img.blank? %>
    					</div>
    					<h2 class="title line_clamp"><%= course.course_name %></h2>
    					<div class="detail">
                <% if totalLearningTime(course.chapters) > 0 %>
                  <span>预计学习时间：<%= totalLearningTime(course.chapters) %>小时</span>
                <% elsif %>
                  <span>本课程不定期更新</span>
                <% end %>
    					</div>
    				<% end %>
    			</li>
        <% else %>
          <li class="course_card">
            <div class="position"><i class="fa fa-lock"></i></div>
            <a href="javascript:;">
              <div class="img_box">
                <%= image_tag(course.course_img.thumb.url) unless course.course_img.blank? %>
              </div>
              <h2 class="title line_clamp"><%= course.course_name %></h2>
              <div class="detail">
                <% if totalLearningTime(course.chapters) > 0 %>
                  <span>预计学习时间：<%= totalLearningTime(course.chapters) %>小时</span>
                <% elsif %>
                  <span>本课程不定期更新</span>
                <% end %>
              </div>
            </a>
          </li>
        <% end %>
			<% end %>
		</ul>
	</div>
	<!-- 学习中心 end -->
