<!-- 面包屑 -->
<ol class="breadcrumb">
  <li><%= link_to("首页", admin_dashboard_path) %></li>
  <li><%= link_to("课程目录", admin_course_path(@chapter.course)) %></li>
  <li class="active">新增小节</li>
</ol>

<h2><%= @chapter.chapter_name %> 新增小节</h2>
<%= simple_form_for [:admin, @chapter, @section] do |f| %>

    <%= f.input :section_name, label: "小节名称" %>
    <%= f.input :is_exist_video, label: "是否有视频"%>
    <%= f.input :content, label: "本节内容"%>

  <%= f.submit "提交", data: { disable_with: "提交中..." }, class: "btn btn-primary" %>

<% end %>

<div id="gotop">
  <i class="fa fa-arrow-up" aria-hidden="true"></i>
</div>
