<%= title "教材目录 - " %>
<!-- <%= render :partial => "course_item" %> -->
<div class="container_wrap">
    <h4 style="margin: 20px 0;"><%= @course.course_name %></h4>
		<div class="syllabus-list">
			<div class="mod-tab-menu">
				<ul class="course-menu clearfix">
					<li><a href="javascript:;" class="active">目录</a></li>
					<!-- <li><a href="javascript:;">留言</a></li>
					<li><a href="javascript:;">问答</a></li>
					<li><a href="javascript:;">笔记</a></li>
					<li><a href="javascript:;">清单</a></li> -->
				</ul>
			</div>

			<div class="mod-chapters">
        <% @chapters.each do |chapter| %>
  				<div class="chapter chapter-active">
  					<h3>
  						<i class="fa fa-book icon-chapter"></i>
  						<span> <%= chapter.chapter_name %> </span>
              <% if chapter.learning_time != nil %>
                  <span class="tip_time">( 预计学习时间: <%= chapter.learning_time %>小时 )</span>
              <% end %>
            </h3>
  					<ul class="sections">
              <% chapter.sections.each do |section| %>
  						<li>
  							<%= link_to post_path(section) do%>
  								<i class="fa fa-caret-right icon-video type"></i>
  								<%= section.section_name %>
  								<div class="right como-btn como-btn-red">开始学习</div>
  							<% end %>
  						</li>
              <% end %>
  					</ul>
  				</div>
        <% end %>
			</div>
		</div>
	</div>
