<%= title "文章 - " %>
<%= render :partial => "courses/course_item" %>

<div class="content-wrap">
  <div class="container">
    <div class="course-block">
      <div class="post-visitor">
        <div class="des-text">
          <h4>所属章节：<%= @section.chapter.chapter_name %></h4>
          <% if @section.chapter.learning_time != nil %>
            <p>本章预计学习时间: <%= @section.chapter.learning_time %>小时</p>
          <% end %>
          <% if @hasSection > 0 %>
            <p>再学习<%= @hasSection %>节就可以完成本章了</p>
          <% else %>
            <p>学完本节就可以完成本章了</p>
          <% end %>
        </div>
        <div class="view-count">共 386 位第二期同学学习了本节</div>
      </div>

      <div class="post-title">
        <div id="favorite" class="favorite-icon-block">
            <% if !@section.users.include?(current_user) %>
              <%= link_to add_to_favorite_post_path(@section),method: :post do %>
                <span class="fa fa-bookmark-o" title="收藏本教程"></span>
              <% end %>
            <% else %>
              <%= link_to quit_favorite_post_path(@section.id),method: :post do %>
                <span class="fa fa-bookmark" title="取消收藏"></span>
              <% end %>
            <% end %>
        </div>
      </div>

      <div class="markdown">
        <% if @section.content %>
          <%= markdown(@section.content) %>
        <% else %>
          暂无内容
        <% end %>
      </div>

      <!-- 我要吐槽 start -->
      <div class="panic-panel">
        <div class="panic-panel-title">
          <h4>对本页内容的感受如何？</h4>
          <div class="complain-btn">
            <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#complainModal" id="want-to-complain-btn">
              📣 &nbsp;我要吐槽
            </button>
          </div>
        </div>

        <div class="panic-panel-body ui-selectable" id="selectable" data-post-id="873">
          <div class="item  ui-selectee" value="good">
            <div class="ui-widget-content ui-selectee"><span class="emoji ui-selectee">😄</span><span class="text ui-selectee">So easy</span></div>
          </div>
          <div class="item  ui-selectee" value="normal">
            <div class="ui-widget-content ui-selectee"><span class="emoji ui-selectee">😐</span><span class="text ui-selectee">还OK</span></div>
          </div>
          <div class="item  ui-selectee" value="bad">
            <div class="ui-widget-content ui-selectee"><span class="emoji ui-selectee">😭</span><span class="text ui-selectee">崩溃了</span></div>
          </div>
        </div>
      </div>
      <!-- 我要吐槽 end -->

      <div class="group post-nav-btn">
        <ul class="pager-custom">
          <% if !@prevPage.blank? %>
          <li class="previous">
            <a id="previous" href="/posts/<%= @prevPage %>">
              <i class="fa fa-arrow-left"></i>
              <span> 上一页</span>
            </a>
          </li>
          <% end %>
          <li class="keyboard-tips">
            <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
            可以使用<kbd>←</kbd><kbd>→</kbd>键进行翻页
          </li>
          <% if !@nextPage.blank? %>
          <li class="next">
            <a href="/posts/<%= @nextPage %>">下一页<span class="fa fa-arrow-right" id="next"></span></a>
          </li>
          <% end %>
        </ul>
      </div>

      <% if @section.assignments.count > 0 %>
        <div class="post-task-block" id="task">
          <h4><i class="fa fa-file-code-o"></i>本节作业<%= @nextPage %></h4>
          <% @section.assignments.each do |assignment| %>
          <div class="panel panel-default">
            <div class="panel-heading clearfix">
              <div class="post-task-name">
                <h5>
                    <!-- <a href="/assignments/47">API 作业</a>：<a href="/tasks/301">作业一</a> -->
                    <%= assignment.assignment_name %>
                </h5>
                <p class="count">
                  <span class="num">已有 5 个同学提交了这个作业</span>
                  <span class="answer-link">
                    <a target="_blank" href="/tasks/301/other_answers?order=recent">
                      <i class="fa fa-chevron-right" aria-hidden="true"></i>看看同学怎么做
                    </a>
                  </span>
                </p>
              </div>
              <div class="post-task-option">
                <a class="homework-btn" href="/tasks/301"><i class=""></i><span> 提交作业</span></a>
                <!-- <a class="opt-btn" href="/tasks/272"><i class=""></i><span> 修改作业</span></a> -->
              </div>
            </div>
            <div class="pannel-body">
              <div class="post-task-descripiton"><%= markdown(assignment.description) %></div>
            </div>

          </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
