<nav class="layout-header">
	<div class="container_wrap">
		<h1 class="logo left">
			<!-- <%= image_tag("index/logo.png", :width => "100") %> -->
			<a class="navbar-brand" href="/">
				<i class="fa fa-diamond" aria-hidden="true"> 上道教育</i>
			</a>
		</h1>
		<ul class="wrap_left left">
			<li><a href="/dashboard?category=basic">学习中心</a></li>
			<!-- <li><a href="#">个人中心</a></li> -->
		</ul>
		<div class="wrap_right right">
			<!-- <div class="search left">
				<input type="text" name="search">
				<span class="search_icon"></span>
			</div> -->
			<ul class="left">
        <% if !current_user %>
  				<li class="left login_btn"><%= link_to("登录", new_user_session_path) %></li>
  				<li class="left signup_btn"><%= link_to("注册", new_user_registration_path) %></li>
        <% else %>
          <li class="dropdown" style="margin-top:6px;">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Hi!, <%= current_user.email %>
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <% if current_user.admin? %>
                <li> <%= link_to("管理后台", admin_dashboard_path) %> </li>
                <% end %>
                <li class="divider"></li>
                <li> <%= link_to(content_tag(:i, '登出', class: 'fa fa-sign-out'), destroy_user_session_path, method: :delete) %> </li>
            </ul>
          </li>
        <% end %>
			</ul>
		</div>
	</div>
</nav>
