<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="/"><i class="fa fa-diamond" aria-hidden="true"> 豆优课堂</i></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-left navbar-link">
              <li><a href="/dashboard?category=basic">学习中心</a></li>
              <li><a href="/meetup_groups?from=navbar">Meetup</a></li>
                <li>
                  <a href="/live">直播室</a>
                </li>
                <li><a href="/competitions">编程比赛</a></li>
                <li><a href="/">帮助文档</a></li>
                <li><a href="/">交流论坛</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <% if !current_user %>
                  <li><%= link_to("注册", new_user_registration_path) %> </li>
                  <li><%= link_to(content_tag(:i, '登入', class: 'fa fa-sign-in'), new_user_session_path) %></li>
                <% else %>
                  <li>
                    <a class="mail-icon" id="mail-icon-right" href="/conversations">
                      <i class="fa fa-envelope" aria-hidden="true"></i>
                      <span class="badge message-badge">1</span>
                    </a>
                  </li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Hi!, <%= current_user.email %>
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <% if current_user.admin? %>
                        <li> <%= link_to("管理后台", admin_dashboard_path) %> </li>
                        <% end %>
                        <li class="divider"></li>
                        <li> <%= link_to(content_tag(:i, '登出', class: 'fa fa-sign-out'), destroy_user_session_path, method: :delete) %> </li>
                    </ul>
                  </li>
                <% end %>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
