<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    章节详情
  </h1>

  <ol class="breadcrumb">
    <li><%= link_to("首页", admin_dashboard_path) %></li>
    <li><%= link_to("课程目录", admin_course_path(@chapter.course)) %></li>
    <li class="active">章节详情</li>
  </ol>
</section>

<!-- Main content -->
<section class="content container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-primary">
        <div class="box-header">
          <h3 class="box-title"><%= @chapter.chapter_name %></h3>
        </div>
        <div class="box-body">
          <ul class="list-group">
            <% @chapter.sections.each_with_index do |section, i| %>
              <li class="list-group-item"><%= i+1 %>.<%= link_to(section.section_name, admin_chapter_section_path(@chapter, section)) %></li>
            <% end %>
          </ul>
        </div>

      <!-- /.box -->
    </div>
    <!-- /.col -->
  </div>
</section>
