  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      <%= @course.course_name %>目录
      <small><%= render_course_is_locked(@course) %> | <%= render_course_category(@course.category) %></small>
    </h1>

    <ol class="breadcrumb">
      <li><a href="/admin"><i class="fa fa-dashboard"></i> 首页</a></li>
      <li class="active">课程目录</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="box box-primary">
          <div class="box-header">
            <h3 class="box-title">目录列表</h3>
            <!-- tools box -->
            <div class="pull-right box-tools">
              <%= link_to(" 新增一章", new_admin_course_chapter_path(@course), :class => "fa fa-plus btn btn-primary" ) %>
              <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-default"><i class="fa fa-plus"></i> 新增一章</button> -->
            </div>
            <!-- /. tools -->
          </div>
          <div class="box-body">
            <table class="table">
              <thead >
                  <tr class="active">
                      <td>章名</td>
                      <td>预计学习时间</td>
                      <td>节名</td>
                  </tr>
              </thead>
              <tbody>
                <% @chapters.each do |chapter| %>
                <tr>
                  <!-- <td><%= link_to(chapter.chapter_name, admin_course_chapter_path(@course, chapter)) %></td> -->
                  <td>
                    <div style="text-align: left">
                      <%= chapter.chapter_name %>
                      <div style="float: right">
                        <%= link_to(edit_admin_course_chapter_path(@course, chapter), :class => "btn btn-xs btn-default") do%>
                          <span class="fa fa-edit" title ="编辑章"></span>
                        <% end %>

                        <%= link_to(admin_course_chapter_path(@course, chapter), :method => :delete, :class => "btn btn-xs btn-danger", :data => { :confirm => "删除 " + chapter.chapter_name + " ?" }) do%>
                          <span class="fa fa-remove" title="删除章"></span>
                        <% end %>
                      </div>
                    </div>

                  </td>
                  <td>
                    <% if chapter.learning_time != nil %>
                      <%= chapter.learning_time %>小时
                      <% else %>
                      --
                    <% end %>
                  </td>
                  <td style="text-align: left">
                    <ol >
                      <% chapter.sections.each do |section| %>
                      <li style="line-height: 2">
                        <%= link_to(section.section_name, admin_chapter_section_path(chapter, section)) %>
                        <% if section.assignments_count > 0 %>
                          (共<%= section.assignments_count %>个作业)
                        <% end %>
                        <div style="float: right">
                          <%= link_to(edit_admin_chapter_section_path(chapter, section), :class => "btn btn-xs btn-default") do%>
                            <span class="fa fa-edit" title="编辑小节"></span>
                          <% end %>
                          <%= link_to(admin_chapter_section_path(chapter, section), :method => :delete, :class => "btn btn-xs btn-danger", :data => { :confirm => "删除 " + section.section_name  + " ?" }) do%>
                            <span class="fa fa-remove" title="删除小节"></span>
                          <% end %>
                        </div>

                      </li>
                      <% end %>
                    </ol>
                    <div style="text-align: center">
                      <%= link_to(new_admin_chapter_section_path(chapter)) do%>
                        <span class="fa fa-plus" title="新增小节"> 添加小节</span>
                      <% end %>
                    </div>
                  </td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>

        <!-- /.box -->
      </div>
      <!-- /.col -->
    </div>
  </section>
