<!-- 面包屑 -->
<ol class="breadcrumb">
  <li><%= link_to("首页", admin_dashboard_path) %></li>
  <li class="active">课程详情</li>
</ol>

<h3><%= @course.course_name %></h3>
<%= render_course_is_locked(@course) %>
<%= render_course_category(@course.category) %>
<div class="group toolbar-normal clearfix">
  <%= link_to(" 新增章节", new_admin_course_chapter_path(@course), :class => "btn btn-primary fa fa-plus pull-right" ) %>
</div>
<table class="table table-bordered table-hover">
  <thead >
      <tr class="active">
          <td>章名</td>
          <td>预计学习时间</td>
          <td>节名</td>
          <td>管理</td>
      </tr>
  </thead>
  <tbody>
    <% @chapters.each do |chapter| %>
    <tr>
      <td><%= link_to(chapter.chapter_name, admin_course_chapter_path(@course, chapter)) %></td>
      <td>
        <% if chapter.learning_time != nil %>
          <%= chapter.learning_time %>小时
        <% end %>
      </td>
      <td>
        <ol style="text-align: left">
          <% chapter.sections.each do |section| %>
          <li>
            <%= link_to(section.section_name, admin_chapter_section_path(chapter, section)) %>
          </li>
          <% end %>
        </ol>

      </td>
      <td>
        <%= link_to(edit_admin_course_chapter_path(@course, chapter), :class => "btn btn-xs btn-default") do%>
          <span class="fa fa-edit" title ="编辑章"></span>
        <% end %>

        <%= link_to(admin_course_chapter_path(@course, chapter), :method => :delete, :class => "btn btn-xs btn-danger", :data => { :confirm => "Are you sure?" }) do%>
          <span class="fa fa-remove" title="删除章"></span>
        <% end %>

        <%= link_to(new_admin_chapter_section_path(chapter), :class => "btn btn-xs btn-primary") do%>
          <span class="fa fa-plus" title="新增小节"></span>
        <% end %>
    </td>
    </tr>
    <% end %>
  </tbody>
</table>
