<!DOCTYPE html>
<html>
    <head>
        <title>创客网后台管理系统</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= stylesheet_link_tag "admin/common", media: 'all', 'data-turbolinks-track': 'reload' %>

        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
        <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>

    </head>

    <body class="hold-transition skin-blue sidebar-mini layout-boxed">
      <div class="wrapper">
        <!-- <%= render "common/flashes" %> -->
        <%= render "common/admin_navbar" %>
        <%= render 'common/admin_sidebar' %>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
          <%= yield %>
        </div>
        <%= render "common/admin_footer" %>
        </div>
        <%= javascript_include_tag 'admin/common', 'data-turbolinks-track': 'reload' %>
    </body>
</html>
