<!DOCTYPE html>
<html>
    <head>
        <title>创客网后台管理系统</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= stylesheet_link_tag "admin/common" %>

        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
        <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
    </head>

    <body>
      <%= render "common/flashes" %>
      <%= render "common/admin_navbar" %>
        
      <div role="main" class="container">
        <div class="row main-content">
          <div class="col-md-2">
            <%= render 'common/admin_sidebar' %>
          </div>
          <div class="col-md-10">
            <%= yield %>
          </div>
        </div>

        <div class="row">
          <%= render "common/admin_footer" %>
        </div>

      </div>
    </body>
</html>
