<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title %>上道教育</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="container-fluid1">
        <%= render "common/flashes" %>
        <%= render "common/navbar" %>
        <%= yield %>
    </div>
    <%= render "common/footer" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%# Markdown %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
    <!--Start of Zendesk Chat Script-->
    <script type="text/javascript">
    window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
    d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
    _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute("charset","utf-8");
    $.src="https://v2.zopim.com/?5WVp2roKo4wPyf0mU923qgCQ9IJf3RZ8";z.t=+new Date;$.
    type="text/javascript";e.parentNode.insertBefore($,e)})(document,"script");
    </script>
    <!--End of Zendesk Chat Script-->
  </body>
</html>
